{% extends 'layout.html'%}

{% block title %}
    <title>Weather Home</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="../styles/index.css">
{% endblock styles %}

{% block content %}
    <main>
        {# <div class="main-head"> #}
            <h1>Estações meteorológicas de Ciro Groh</h1>
            {# <h2>Sincronizado em: </h2> #}
        {# </div> #}

        <div class='grid-card'>
            {% for station in stations %}
                <div class='card'>
                    <a href={{station.link}}>{{station.name}}</a>
                    <p>Temperatura: {{station.temp}} °C</p>
                    <p>Chuva acumulada: {{station.rain}} mm</p>
                </div>
            {% endfor %}
        </div>
    </main>

    {% if erro_user %}
        <script>
            setTimeout(() => {
                alert('Usuário não cadastrado')
            }, 500)
        </script>
    {% endif %}

    {% if erro_password %}
        <script>
            setTimeout(() => {
                alert('Senha incorreta')
            }, 500)
        </script>
    {% endif %}

    {% if erro_username %}
        <script>
            setTimeout(() => {
                alert('Usuário não cadastrado')
            }, 500)
        </script>
    {% endif %}
{% endblock content %}

{% block scripts %}
{% endblock scripts %}