{% extends 'layout.html'%}

{% block title %}
    <title>Weather Home</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="../styles/index.css">
{% endblock styles %}

{% block content %}
    <main>
        <div class="main-head">
            <h1>Estações meteorológicas de Ciro Groh</h1>
            <h5 class='sync-time'></h5>
        </div>
        <button id='options-menu'>Opções de visualização</button>

        {% include './partials/options-card.html'%}

        <div class='grid-card'>
            {% for station in stations %}
                <div class='card'>
                    <a href={{station.link}}>{{station.name}}</a>
                    <p class='dewpt hide'>{{station.dewpt}}</p>
                    <p class='elev hide'>{{station.elev}}</p>
                    <p class="heatIndex hide">{{station.heatIndex}}</p>
                    <p class="precipRate hide">{{station.precipRate}}</p>
                    <p class="precipTotal">{{station.precipTotal}}</p>
                    <p class="pressure hide" hide>{{station.pressure}}</p>
                    <p class='temp'>{{station.temp}}</p>
                    <p class="windChill hide">{{station.windChill}}</p>
                    <p class="windGust hide">{{station.windGust}}</p>
                    <p class="windSpeed">{{station.windSpeed}}</p>
                </div>

            {% endfor %}
        </div>
    </main>

    {% if erro_user %}
        <script>
            setTimeout(() => {
                alert('Usuário não cadastrado')
            }, 500)
        </script>
    {% endif %}

    {% if erro_password %}
        <script>
            setTimeout(() => {
                alert('Senha incorreta')
            }, 500)
        </script>
    {% endif %}

    {% if erro_username %}
        <script>
            setTimeout(() => {
                alert('Usuário não cadastrado')
            }, 500)
        </script>
    {% endif %}
{% endblock content %}

{% block scripts %}
    <script src="./scripts/index.js"></script>
{% endblock scripts %}