{% extends 'layout.html'%}

{% block title %}
    <title>Parcerias</title>
{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <h1>Sobre</h1>

    <div style="text-align:justify; width:80%; margin-left:30px">
    <p>
        Desde a década de 1980, Ciro Groh vem desempenhando o monitoramento das condições climáticas, uma paixão transformada em Hobbie há muitos anos. No início, o registro de dados meteorológicos como temperatura e precipitação, eram feitas à caneta em papel, no entanto, em 2012 o sonho de digitalizar os registros foi finalmente realizado, com a implementação da sua primeira estação meteorológica em sua própria residência. Atualmente, esta é somente uma ao meio de outras onze estações distribuídas pelo vale do Itajaí, a fim de monitorar eventos climáticos e prevenir seus efeitos com a ajuda da defesa civil, caso seja necessário.
    </p>
    <p>
        Ciro possui um <a href="https://omunicipio.com.br/author/observador-do-tempo-ciro-groh/">blog</a> no site do jornal O Município, onde realiza postagens diárias geralmente relacionadas ao clima da região do Vale do Itajaí. Com o total de visualizações chegando a até 10.000 em alguns casos, o blog se tornou o mais popular entre população da região no site.
    </p>
    <p>
        Se deseja fazer parte desta jornada e colocar a sua marca junto às postagens do blog, você pode! Para mais informações a respeito, entre contato comigo pelo e-mail <a href="mailto:cirogroh@yahoo.com.br">cirogroh@yaoo.com.br</a> ou pelo número 47 9 9151-7115.
    </p>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
