{% extends 'layout.html' %}

{% block title %}
    <title>Login</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="./styles/index.css">
{% endblock styles %}

{% block content %}
    <main>
        <h1>Bem-vindo {{user}}!</h1>

        <form action="/added?dark={{darkMode}}" id='added' method='POST'>
            <label for="stationID">Adicione um ID</label>

            <div class="input">
                <input type="text" name="stationID" placeholder='e.g. ISANTACA56'>
                <button type="submit"><img src="./assets/+icon.png" alt="Adicionar"></button>
            </div>

            <input type="hidden" name="user" value="{{user}}">
        </form>

        <div class='grid-card'>
            {% for station in userStations %}
                <div class='card'>
                    <a href={{station.link}}>{{station.local}}</a>
                    <p>Temperatura: {{station.temp}} °C</p>
                    <p>Chuva acumulada: {{station.rain}} mm</p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}