{% extends 'layout.html' %}

{% block title %}
    <title>Estações de {{user}}</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="./styles/index.css">
{% endblock styles %}

{% block content %}
    <main>
        <div class="main-head">
            <h1>Bem-vindo {{user}}!</h1>
            <button class='deleteAcc'>Exluir conta</button>
        </div>
        <h5 class='sync-time'></h5>

        <p class='info'>Encontre ID's para mais estações <a href="https://www.wunderground.com/dashboard/pws/ISANTACA56" style='text-decoration: underline'>aqui</a>.</p>

        <button id='options-menu'>Opções de visualização</button>

        <div class="head-forms">
            <form action="/added" id='added' method='POST'>
                <label for="stationID">Adicione um ID</label>

                <div class="input">
                    <input type="text" name="stationID" placeholder='e.g. ISANTACA56'>
                    <button type="submit"><img src="./assets/+icon.png" alt="Adicionar"></button>
                </div>

                <input type="hidden" name="user" value="{{user}}">
                <input id='email' type="hidden" name="email" value="{{email}}">
            </form>

            {% if rename %}
                <form action="/rename?renameStationID={{renameStationID}}&renameStationName={{renameStationName}}" method='POST'>
                    <label for="rename">Renomear estação</label>
                    <div class="input">
                        <input type="text" name='rename' placeholder='{{renameStationName}}'>
                        <button type="submit"><img src="./assets/edit.svg" alt="Confirmar nome"></button>
                    </div>

                    <input type="hidden" name="user" value="{{user}}">
                    <input type="hidden" name="email" value="{{email}}">
                </form>
            {% endif %}
        </div>

        {% include './partials/options-card.html'%}

        <div class='grid-card'>
            {% for station in userStations %}
                <div class='card'>
                    <div class="cardhead">
                        <a href={{station.link}}>{{station.name}}</a>
                        <a href="/reload?user={{user}}&email={{email}}&delete={{station.id}}"><img src="./assets/close.svg" alt="Deletar estação"></a>
                    </div>
                    <p class='dewpt hide'>{{station.dewpt}}</p>
                    <p class='elev hide'>{{station.elev}}</p>
                    <p class="heatIndex hide">{{station.heatIndex}}</p>
                    <p class="precipRate hide">{{station.precipRate}}</p>
                    <p class="precipTotal">{{station.precipTotal}}</p>
                    <p class="pressure hide" hide>{{station.pressure}}</p>
                    <p class='temp'>{{station.temp}}</p>
                    <p class="windChill hide">{{station.windChill}}</p>
                    <p class="windGust hide">{{station.windGust}}</p>
                    <p class="windSpeed">{{station.windSpeed}}</p>
                    <div class="bottom">
                        <h6>{{station.id}}</h6>
                        <a href="/renomear?stationID={{station.id}}&stationName={{station.name}}&email={{email}}&user={{user}}"><img src="./assets/edit.svg" alt="Renomear estação"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

    {% if erro_add %}
        <script>
            setTimeout(() => {
                alert('Esta estação já faz parte da sua coleção')
            }, 200)
        </script>
    {% endif %}

    {% if erro_add_invalid %}
        <script>
            setTimeout(() => {
                alert('Por favor, insira um ID válido')
            }, 200)
        </script>
    {% endif %}

    {% if erro_invalid_station %}
        <script>
            setTimeout(() => {
                alert('ID inválido ou estação está offline. Não foi possível adicionar a estação ao seu perfil')
            }, 200)
        </script>
    {% endif %}

    {% if erro_delete %}
        <script>
            setTimeout(() => {
                alert('Não é possível excluir sua última estação')
            }, 200)
        </script>
    {% endif %}

    {% if erro_rename %}
        <script>
            setTimeout(() => {
                alert('Já existe uma estação com este nome')
            }, 200)
        </script>
    {% endif %}

    {% if accDelete %}
        <div class="modal">
            <h1>Conta excluída com sucesso</h1>

            <script>
                setTimeout(() => {
                    window.location = "/home"
                }, 2000)
            </script>
        </div>
    {% endif %}
{% endblock content %}

{% block scripts %}
    <script src="./scripts/usuario.js"></script>
    <script src="./scripts/index.js"></script>
{% endblock scripts %}