{% extends 'layout.html' %}

{% block title %}
    <title>Estações de {{user}}</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="./styles/index.css">
{% endblock styles %}

{% block content %}
    <main>
        <div class="user-head">
            <h1>Bem-vindo {{user}}!</h1>
            <a href='/excluir-conta?user={{email}}'>Excluir conta</a>
        </div>

        <div class="forms">
            <form action="/added" id='added' method='POST'>
                <label for="stationID">Adicione um ID</label>

                <div class="input">
                    <input type="text" name="stationID" placeholder='e.g. ISANTACA56'>
                    <button type="submit"><img src="./assets/+icon.png" alt="Adicionar"></button>
                </div>

                <input type="hidden" name="user" value="{{user}}">
                <input type="hidden" name="email" value="{{email}}">
            </form>

            {% if rename %}
                <form action="/rename?renameStationID={{renameStationID}}&renameStationName={{renameStationName}}" method='POST'>
                    <label for="rename">Renomear estação</label>
                    <div class="input">
                        <input type="text" name='rename' placeholder='{{renameStationName}}'>
                        <button type="submit"><img src="./assets/edit.svg" alt="Confirmar nome"></button>
                    </div>

                    <input type="hidden" name="user" value="{{user}}">
                    <input type="hidden" name="email" value="{{email}}">
                </form>
            {% endif %}
        </div>
        <div class='grid-card'>
            {% for station in userStations %}
                <div class='card'>
                    <div class="cardhead">
                        <a href={{station.link}}>{{station.name}}</a>
                        <a href="/reload?user={{user}}&email={{email}}&delete={{station.id}}"><img src="./assets/close.svg" alt="Deletar estação"></a>
                    </div>
                    <p>Temperatura: {{station.temp}} °C</p>
                    <p>Chuva acumulada: {{station.rain}} mm</p>
                    <a href="/renomear?stationID={{station.id}}&stationName={{station.name}}&email={{email}}&user={{user}}"><img src="./assets/edit.svg" alt="Renomear estação"></a>
                </div>
            {% endfor %}
        </div>
    </main>

    {% if erro %}
        <script>
            setTimeout(() => {
                alert('Esta estação já faz parte da sua coleção')
            }, 500)
        </script>
    {% endif %}

    {% if erro1 %}
        <script>
            setTimeout(() => {
                alert('Não é possível excluir sua última estação')
            }, 500)
        </script>
    {% endif %}
{% endblock content %}

{% block scripts %}
{% endblock scripts %}