<header>
    <div class='home'>
        <a href="/home" id='home'>
            <img src="../assets/logo.svg" alt="Logo">
            <p>Home</p>
        </a>
    </div>

    <div class='nav-bar'>
        <a href="/registrar" id='registrar'>Registrar</a>
        <a href="#" class='login'>Login</a>
        <a href="/parcerias" id='parcerias'>Parcerias</a>
        <a href="#" class='darkmode'><img src="./assets/darkmode.svg" alt="Modo noturno"></a>
    </div>

    <div class="login-modal">
        <form action="/login" id='login' method="POST" class='hide'>
            <div class="inputs">
                <label for="email">E-mail</label>
                <input type="text" name='email' required='required'>

                <label for="password">Senha</label>
                <input type="password" name='password' required='required' maxlength="20">

                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</header>