
<div class="options-card collapse">

    <p>Opções de visualização</p>

    <div class="weather-option">
        <input type="checkbox" id='temp' name='temp' checked='true'>
        <label for="temp">Temperatura</label>
    </div>

    <div class="weather-option">
        <input type="checkbox" id='precipTotal' name='precipTotal' checked='true'>
        <label for="precipTotal">Precipitação total</label>
    </div>

    <div class="weather-option">
        <input type="checkbox" id='windSpeed' name='windSpeed' checked='true'>
        <label for="windSpeed">Velocidade do vento</label>
    </div>

    <div class="weather-option">
        <input type="checkbox" id='dewpt' name='dewpt'>
        <label for="dewpt">Ponto de orvalho</label>
    </div>

    <div class="weather-option">
        <input type="checkbox" id='elev' name='elev'>
        <label for="elev">Elevação</label>
    </div>

    <div class="weather-option">
        <input type="checkbox" id='heatIndex' name='heatIndex'>
        <label for="heatIndex">Índice de calor</label>
    </div>

    <div class="weather-option">
        <input type="checkbox" id='precipRate' name='precipRate'>
        <label for="precipRate">Taxa de precipitação</label>
    </div>

    <div class="weather-option">
        <input type="checkbox" id='pressure' name='pressure'>
        <label for="pressure">Pressão atmosférica</label>
    </div>

    <div class="weather-option">
        <input type="checkbox" id='windChill' name='windChill'>
        <label for="windChill">Sensação térmica</label>
    </div>

    <div class="weather-option">
        <input type="checkbox" id='windGust' name='windGust'>
        <label for="windGust">Rajada</label>
    </div>

</div>