.grid-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    margin-bottom: 10px;
    gap: 10px;
}

.grid-card .card {
    border: 2px solid var(--border-shadow);
    border-radius: 5px;
    background-color: var(--color1);
    box-shadow: 2px 2px 5px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: filter, transform 200ms;
}

.grid-card .card:hover {
    filter: brightness(1.15);
    transform: scale(1.05);
}

.card a {
    font-weight: bold;
    color: black;
}

.card a img {
    width: 20px;
}

/* Página de usuário */

.user-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-head button {
    color: var(--text-color);
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
}

.user-head button:hover {
    font-weight: bold;
}

.info a:hover {
    font-weight: bold;
}

.forms {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
    margin-right: 15px;
}

form .input {
    display: flex;
}

form input {
    padding-left: 5px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid var(--border-shadow);
    border-right: none;
    outline: none;
}

form button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid var(--border-shadow);
    border-left: none;
    width: 50px;
    cursor: pointer;
    background-color: #ddd;
    outline: none;
}

form button img {
    height: 25px;
    margin: 0;
    padding: 0;
    transition: 100ms;
}

form button img:hover {
    filter: brightness(105%);
    transform: scale(1.05);
}

.cardhead {
    display: flex;
    justify-content: space-between;
}

.cardhead a img:hover {
    transform: scale(1.10);
}

.cardhead>a{
    /* transform: translate(-25px); */
    margin-left: auto;
    text-align: center;
}

.cardhead>a:hover{
    transform: scale(1.05);
}

.card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .bottom a img {
    display: flex;
    margin-left: auto;
}

.card .bottom a img:hover {
    transform: scale(1.10);
}

.card .bottom h6 {
    margin:0;
}