:root {
    --color1: #eeee9f;
    --color2: #dbdb98;
    --border-shadow: black;
    --text-color: black;
    --bg-color1: #ffe;
    --bg-color2: #ffc;
    --input-color: white;
}

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    min-height: 100%;
    background: linear-gradient(var(--bg-color1), var(--bg-color2) );
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Dark mode */
h1, h2, h3, h4, h5, h6, p, label, a {
    color: var(--text-color);
    text-decoration: none;
}

input, select {
    background-color: var(--input-color);
}
/*           */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color2);
    box-shadow: var(--border-shadow) 2px 2px 7px;
    border-radius: 10px;

    position: sticky;
    top: 10px;
    z-index: 2;

    transition: filter 200ms;
}

header:hover {
    filter: brightness(1.10);
}

header .home a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

header .home a p {
    margin: 10px;
    color: var(--text-color);
    font-size: 20px;
}

header .home a img {
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px var(--input-color);
    background-color: var(--input-color);
}

header .home a p:hover {
    font-weight: bold;
}

header .nav-bar a {
    padding: 15px;
    color: var(--text-color);
    font-size: 20px;
}

header .nav-bar>a:hover {
    font-weight: bold;
}

header .nav-bar a img {
    border-radius: 50%;
    background-color: var(--input-color);
    box-shadow: 0px 0px 10px white;
    transition: transform 200ms;
}

header .nav-bar a img:hover {
    transform: scale(1.2);
}

/* Login modal */
.hide {
    display: none;
}

.login-modal {
    position: absolute;
    top: 70px;
    right: 6%;
}

.login-modal .inputs {
    display: flex;
    flex-direction: column;
    width: 250px;

    border: 3px black solid;
    border-radius: 25px;
    background: linear-gradient(var(--color1), var(--color2));
    padding: 10px;
}

.login-modal .inputs label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
}

.login-modal .inputs input {
    padding-left: 20px;
    height: 30px;
    border: 1px dashed black;
    border-radius: 5px;
}

.login-modal .inputs>input {
    margin-bottom: 10px;
}

.login-modal button {
    border: 1.8px solid black;
    border-radius: 10px;
    cursor: pointer;
    background: white;
    width: fit-content;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    outline: none;
    background-color: var(--input-color);
    transition: transform 400ms;
}

.login-modal button:hover {
    transform: scale(1.05);
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    background: linear-gradient(var(--color1), var(--color2));
}

/* Modais */
.modal {
    margin: 0;
    height: 150%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    background-size: ;
    position: absolute;
    z-index: 10;
}

.modal h1 {
    color: white;
    text-align: center;
    position: sticky;
    top: 10%;
}